html, body {
	font-family: "Comic Sans MS";
	text-align: center;
	padding: 20px;
}

a:link, a:visited {
	color: #0000ee;
	text-decoration: none;
}

pre {
	line-height: 2.0;
	font-family: "Comic Sans MS";
	text-align: center;
}

video {
	margin: 50px;
}
